<h1>
    Sign Up to connect with new people
</h1>
<form action="/users/create" method="post">
    <label for="fname">First name</label><br>
    <input type="text" name="fname" placeholder="Enter your First Name" required><br>
    <label for="lname">Last name</label><br>
    <input type="text" name="lname" placeholder="Enter your Last Name" ><br>
    <label for="email-ID">Create New Email ID</label><br>
    <input type="email" name="email" placeholder="Enter email ID" required><br>
    <label for="pwd">Create Password</label><br>
    <input type="password" name="password" placeholder="Create Password" required><br>
    <label for="confirm_pwd">Confirm Password</label><br>
    <input type="password" name="confirm_pwd" placeholder="Confirm Password" required><br>
    
    <input type="submit" value="Sign Up">
</form>