<link rel="stylesheet" href="/css/user_profile.css">
<h1>
    Codeial / Profile Page
    
</h1>
<div>
    <%= title  %>
    <p>Name:<%= user.fname  %><%= user.lname  %></p>
    <p>Email ID: <%= user.email_ID  %></p>
</div>