body{
    margin: 10px;
    text-align: center;
    background-image: url('../images/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

header ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#title-name{
    display: inline-flex;
}